# Hardhat files
hardhat/cache
hardhat/artifacts

# TypeChain files
hardhat/typechain
hardhat/typechain-types

# solidity-coverage files
hardhat/coverage
hardhat/coverage.json

# Hardhat Ignition default folder for deployments against a local node
hardhat/ignition/deployments/chain-31337

svelte/.svelte-kit
svelte/build

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
