# Hardhat files
artifacts
cache

# TypeChain files
typechain
typechain-types

# solidity-coverage files
coverage
coverage.json

# Hardhat Ignition Deployments
ignition/deployments

# Compiled output
dist
